body{
    margin-left: 200px;
    margin-right: 200px;
}

nav{
    background-color: #F15A29;
    opacity: 0.85;
   
}
#logo{
      text-align: center;
      padding: 20px 10px;
      
  
}
#p1{
    text-align: center;
    background-color: #F15A29;
    opacity: 0.85;
    padding: 2px 0 70px 0;
    color:white;
    font-size: 170%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#happyHour{
    background-color:whitesmoke;
    color: gray;
    font-size: 110%;
    font-weight: 800;
    opacity: 5;
}
#partyTime{
    background-color: #F15A29;
    opacity: 0.85;
}
#menu{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}
#menu div{
    /* padding: 10px 20px 10px 0px; */
     opacity: 0.9;
     display: flex;
     /* float: left; */
     margin: 0px 0px 0px 0px;
     width: 300px;
     height: 150px;
}
#breakfast{
    background-image: url(./images/breakfast.jpg);
   
}
#lunch{
    background-image: url(./images/lunch.jpg);
   
}

#dinner{
    background-image: url(./images/dinner.jpg);
}
