body{
    margin-left: 200px;
    margin-right: 200px;
}

nav{
    background-color: #F15A29;
    opacity: 0.85;
}
#logo{
      text-align: center;
      padding: 20px 10px;      
  
}
#p1{
    text-align: center;
    background-color: #F15A29;
    opacity: 0.85;
    padding: 2px 0 70px 0;
    color:white;
    font-size: 170%;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
#happyHour{
    background-color:whitesmoke;
    color: gray;
    font-size: 110%;
    font-weight: 800;
    opacity: 5;
}
#partyTime{
    background-color: #F15A29;
    opacity: 0.85;
    
}


#menu{
    display: flex;
    /* justify-content: space-between; */
    opacity: 1.2;
    margin-bottom: 100px;
    background-color: black;
   
}
#menu div{
    /* padding: 10px 20px 10px 0px; */
     opacity: 0.9;
     display: flex;
     /* float: left; */
     margin: 0px 0px 0px 0px;
     width: 300px;
     height: 150px;
     
}

#breakfast{
    background-image: url(./images/breakfast.jpg);
   color: white;
   
}
#drink{
    /* border: 10px black; */
}
#lunch{
    background-image: url(./images/lunch.jpg);
    color: white;
    
}

#dinner{
    background-image: url(./images/dinner.jpg);
    color: white;
}
#foodBg{
    background-image:url(./images/foodsBg.jpg);
    height: 620px;
    opacity: o.3;
}
  #feedback{
      box-shadow: cornsilk;
      display: flex;
      margin: 10px 10px 10px 10px;
      /* border : 3px solid burlywood; */
      /* position: relative;
      left: 120px; */
  }
  #subscribe{
      background-image: url(./images/subscribe.jpg);
      height: 250px;
      opacity: 2.5;
      text-align: center;
      
  }
  #lastImage{
      background-color: #F15A29;
      height: 320px;
      margin:0 0 0 0;
      padding: 20px 20px 20px 20px;
      text-align: center;
      
  }
  .subscribe{
    background-color: #F15A29;
    color: white;
    height: 40px;
    width: 200px;
  }
 .email{
     opacity: 0.5;
     height: 40px;
    width: 350px;
    color:white;
    text-align: center;
    margin: 50px 50px 20px 100px;
 }
